<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/54c6d654-0c39-4f65-9097-0c0a3867fcac/v3/index.json" />
  </packageSources>
</configuration>